<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="stylesheets/style.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://use.fontawesome.com/8a92be1af5.js"></script>
    <title>Home</title>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Welcome <%= uname %>!</h1>
            <form class="form" method="POST" action="/logout">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Logout
                </button>
            </form>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="thumbnail">
            <!--<a href="images/add.png" target="_blank">-->
            <a href="/addExperiment">
            <p><img class=scaled src="images/add.png" alt="Add a New Experimnet Here!">
                <hr>
                <p> <b>Add a New Experimnet Here! </b>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <!--<a href="images/add.png" target="_blank">-->
            <a href="/addExperiment">
                <p><img class=scaled src="images/add.png" alt="Add a New Experimnet Here!">
                <hr>
                <p> <b>Add a New Experimnet Here! </b>
            </a>
        </div>
    </div>

    <% for (var i = 0; i < data.length; i++) { %>

    <li id="expId" name="expid"><b> Exp Id: </b> <%= data[i].exp_id %> </li>
    <li id="usersId" name="usersId"><b> Users Id: </b> <%= data[i].users_id %> </li>
    <li id="expTitle" name="expTitle"><b> Exp Title: </b> <%= data[i].exp_title %> </li>
    <li id="expDate" name="expDate"><b> Exp Date: </b> <%= data[i].exp_date %> </li>
    <li id="expType" name="expType"><b> Exp Type: </b> <%= data[i].exp_type %> </li>

    <% } %>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>