<!doctype html>
<html>
    <head>
        <title>View Experiment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/croppr.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/javascripts/viewexperimentnew.js"></script>
        <link rel="stylesheet" href="/stylesheets/viewexperiment.css">
        <script src="/javascripts/croppr.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="container">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/home">EWA</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome, <%= uname %>!</a></li>
                                <li>
                                    <form class="form" id="form" method="POST" action="/logout">
                                        <a href="/logout" onclick="document.getElementById('form').submit(); return false;">Logout</a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row divtop">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addImageModal">Add More Images</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteImageModal">Delete Images</button>
                <button type="button" class="btn btn-primary" id="btnUnselectAll" style="float:right">Unselect All</button>
                <button type="button" class="btn btn-primary" id="btnSelectAll" style="float:right">Select All</button>
                <button type="button" class="btn btn-primary checkall" style="float:right">Enable Crop</button>
                <div class="modal fade" id="addImageModal" tabindex="-1" role="dialog" aria-labelledby="addImageModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Add More Images</h4>
                            </div>
                            <div class="modal-body">
                                <% for (var i = 0; i < data.length; i++) { %>
                                <form class="form" method="POST" action="<%= data[i].exp_id %>" enctype="multipart/form-data">
                                    <label for="image">Select Images to add to <%= data[i].exp_title %></label>
                                    <input type="file" name="expImage" multiple accept="image/*" required autofocus/><br>
                                    <button class="btn btn-primary btn-block" type="submit">Add Images</button>
                                </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteImageModal" tabindex="-1" role="dialog" aria-labelledby="deleteImageModal"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Delete Images</h4>
                        </div>
                        <div class="modal-body">
                            <p id="demo"> No Image Selected </p>
                            <p id="demo1"></p>
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" id="deleteBtn">Delete Images</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <% for (var i = 0; i < data.length; i++) { %>
                <% for (var j = 0; j < eImage.length; j++) { %>
                <div class="col-md-4">
                    <input class="checkboxImageTop" type="checkbox" name="cbIt<%=eImage[j].id %>" id="<%= eImage[j].id %>"/>
                    <div class="img-thumbnail">
                        <img class="large-image" src="<%= eImage[j].exp_images %>"/>
                        <br>
                        <p style="float:right">
                            <label class="switch">
                                <input class="chk" type="checkbox" value="<%= eImage[j].id %>" name="crop" id="cb<%= eImage[j].id %>"/>
                                <span class="slider round"></span>
                            </label>
                            <input type='button' class="btn btn-primary cropBtn" id='bt<%= eImage[j].id %>' value='Crop' name="crop"/>
                        </p>
                        <p><b>Exp Id: <%= data[i].exp_id %> </b>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
    </body>
</html>