<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Experiment</title>
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/8a92be1af5.js"></script>
    <title>Home</title>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Welcome <%= uname %>!</h1>
            <form class="form" method="POST" action="/logout">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Logout
                </button>
            </form>
        </div>
    </div>

    <!--modal to add more images-->
    <div class="row">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addImageModal">
            Add More Images
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add More Images</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <% for (var i = 0; i < data.length; i++) { %>

                        <form class="form" method="POST" action="<%= data[i].exp_id %>" enctype="multipart/form-data">

                            <label for="image">Select Images to add to <%= data[i].exp_title %></label>
                            <input type="file" name="expImage" multiple accept="image/*" required autofocus/><br>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Add Images
                            </button>
                            <% } %>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <% for (var i = 0; i < data.length; i++) { %>
        <% for (var j = 0; j < eImage.length; j++) { %>

        <div class="col-md-4">
            <label><input class="checkhour" type="checkbox"> </label>
            <div class="thumbnail">
                <a href="editExperiment/<%= eImage[j].id %> ">
                    <p><img class=scaled src="<%= eImage[j].exp_images %>" alt="Add a New Experimnet Here!">
                    <hr>
                    <p><b>Exp Id: <%= data[i].exp_id %> </b>
                </a>
            </div>
        </div>

        <% } %>
        <% } %>

    </div>

</div>

</body>
</html>